html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif
}

nav {
    margin: 4em;

}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1rem;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

/*Hero section*/
main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    margin-bottom: 11em;
    height: 50em; /**added by me **/

}

.left-col {
    width: 45%;

}

.right-col {
    flex-grow: 1;
}



h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}


.subhead {
    font-size: 1.8rem;
}

.cta-btns {
    display: flex;
    gap: 6em;
    margin: 5em 0;
}

.primary-cta {
    background-color: #F1E2D1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    padding: 1em 0;
}

/*Right coloumn*/

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "left right"
        "left bottom";

}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
}

.card1 {
    position: relative;
    grid-area: left;
    background-image: url("../images/Good-Friday_Story_BLNK-1000x1778.jpg");
    background-size: cover;
}

.card2 {
    position: relative;
    background-image: url("../images/characters.jpeg");
    background-size: cover;
}

.card3 {
    position: relative;
    background-image: url("../images/themes.jpeg");
    background-size: cover;
}

.card-details {
    background: white;
    border-radius: .6em;
    padding: 2em;
    width: 100%;
    align-items: center;
    justify-content: space-between;


}

.card-details a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
}

.card-details p {
    color: black;
    font-size: 1.4rem;
    margin: 0;
}

span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

}


footer {
    text-align: center;
    margin-top: 30%;;
    color: black;
  }

/*Question section*/

section h2 {
    font-size: 2em;
}

section .ques-title {
    font-size: 1.5em;
}
section .quest-list {
    font-size: 1.5em;
}

section ol li {
    margin-bottom: 1.5em;
}


/*MOBILE PHONE ASPECT */
/*--------------------*/
@media(max-width: 850px) {
    main {
        display: grid;
        margin-top: 6em;
        height: 100%;
    }

    .cta-btns {
        display: flex;
        margin: auto;

    }
    

    .left-col {
        width: 100%;
        /*margin-left: 5%;*/

    }

    .left-col p {
        width: 80%;
    }

    .right-col {
        width: 100%;
        margin: auto;
        height: 50em;
        grid-template-areas: 
        "top top"
        "left right";
        gap: 1.2em;
    }

    .card2 {
        grid-area: top;
    }
    .card2 .card-details {
        width: 35%;
    }

    .card3 {
        grid-area: right;

    }
    .card1 {
        grid-area: left;
  
    }

    .mobile-hide {
        display: none;
    }

    .card-details a {
        font-size: 1.3rem;
    }



}